body {
  background-color: #292931;
  font-family: Arial, Helvetica, sans-serif;
}
a{
  color: aqua;
  font-size: 40px;
  text-decoration: none;
}
center{
  font-size: 1px;
}
#code-ht{
  position: absolute;
  left: 3%;
  top: 8%;
  width: 45%;
  height: 200px;
  background-color: #000011;
  color: #00ff00;
  border-radius: 10px;
  font-size: 17px;
}
#code-cs{
  position: absolute;
  left: 3%;
  top: 40%;
  width: 45%;
  height: 200px;
  background-color: #000011;
  color: #00c3ff;
  border-radius: 10px;
  font-size: 17px;
}
#code-js{
  position: absolute;
  left: 3%;
  top: 72%;
  width: 45%;
  height: 200px;
  background-color: #000011;
  color: #ffff00;
  border-radius: 10px;
  font-size: 17px;
}
#run{
  position: absolute;
  left: 92%;
  top: 1%;
  background: linear-gradient(to right, #15ff00, #00ffea);
  border: 0;
  border-radius: 8px;
  padding: 10px;
  width: 100px;
  font-size: 20px;
}
#cls{
  position: absolute;
  left: 84%;
  top: 1%;
  /*background-color: #ff0000;*/
  background: linear-gradient(to right, #ff0000, #ff9595);
  border: 0;
  border-radius: 8px;
  padding: 11px;
  width: 100px;
  font-size: 20px;
}
#full{
  position: absolute;
  left: 72%;
  top: 1%;
  /*background-color: #ffff00;*/
  background: linear-gradient(to right, #fffb00, #ec8e00);
  border: 0;
  border-radius: 8px;
  padding: 11px;
  width: 150px;
  font-size: 20px;
}
#close{
  position: absolute;
  left: 92%;
  top: 93%;
  background-color: #ff0000;
  border: 0;
  border-radius: 8px;
  padding: 11px;
  width: 100px;
  font-size: 20px;
}
#out{
  position: absolute;
  left: 49%;
  top: 8%;
  border-color: #00ff00;
  background-color: auto;
  width: 50%;
  height: 600px;
  border: 1 solid;
  border-radius: 10px;
}
#out2{
  position: absolute;
  left: 0%;
  top: 0%;
  border-color: #00ff00;
  background-color: auto;
  width: 100%;
  height: 100%;
  border: 1 solid;
  border-radius: 10px;
}
#er{
  font-size: 30px;
  width: 400px;
  padding-left: 80px;
  position: absolute;
  top: 1%;
  left: 5%;
  color: #ff0000;
}
#ner{
  color: #51ff00;
}
#s1{
  color: #2222ff;
  font-size: 110px;
}
#s2{
  color: #00ff00;
  font-size: 90px;
}
#ht{
  position: absolute;
  left: 0%;
  top: 6%;
  color: #00ff00;
}
#cs{
  position: absolute;
  left: 0%;
  top: 36%;
  color:#00c3ff;
}
#js{
  position: absolute;
  left: 1%;
  top: 68%;
  color:#ffff00;
}#media{
  position: absolute;
  left: 0%;
  top: 150%;
}
#er{
  position: absolute;
  left: 0%;
  top: 108%;
}
#comp{
  position: absolute;
  left: 1%;
  top: 3%;
  border-radius: 16px;
  width: 90%;
  height: 90%;
  z-index: 50;
}