body {
  background-color: #292931;
  font-family: Arial, Helvetica, sans-serif;
}
a{
  color: aqua;
  font-size: 40px;
  text-decoration: none;
}
center{
  font-size: 1px;
}
#code-ht{
  width: 98%;
  height: 200px;
  background-color: #000011;
  color: #00ff00;
  border-radius: 10px;
  font-size: 17px;
}
#code-cs{
  width: 98%;
  height: 200px;
  background-color: #000011;
  color: #00c3ff;
  border-radius: 10px;
  font-size: 17px;
}
#code-js{
  width: 98%;
  height: 200px;
  background-color: #000011;
  color: #ffff00;
  border-radius: 10px;
  font-size: 17px;
}
#run{
  background-color: #00ff00;
  border: 0;
  border-radius: 50px;
  padding: 10px;
  width: 400px;
  font-size: 20px;
}
#cls{
  background-color: #ff0000;
  border: 0;
  border-radius: 50px;
  padding: 12px;
  width: 400px;
  font-size: 20px;
}
#out{
  border-color: #00ff00;
  background-color: auto;
  width: 100%;
  height: 600px;
  border: 1 solid;
  border-radius: 10px;
}
#er{
  color: #ff0000;
}
#ner{
  color: #0000ff;
}
#s1{
  color: #2222ff;
  font-size: 110px;
}
#s2{
  color: #00ff00;
  font-size: 90px;
}